// Server list for collecting JMX metrics.

var servers = [
        "localhost:9999", "localhost:10099", "localhost:10199", "localhost:10299"
]

// JMX protocol. EAP6, JDG6: "remoting-jmx", EAP7 or JDG7: "remote+http" (or "http-remoting-jmx")

var jmx_protocol = "remoting-jmx"
//var jmx_protocol = "remote+http"

// Authentication info: username and password.

var username = "admin"
var password = "welcome1!"

// Interval time (sec) for collecting metrics.

var interval_sec = 5

// Field delimiter for output results
//
//var delimiter = ","
var delimiter = " "

// Collecting metrics: MBean name and attributes.

var metrics = [
    { mbean : 'jboss.infinispan:type=Cache,name="default(dist_sync)",manager="clustered",component=Statistics',
      attrs : [ "numberOfEntries",
                "averageReadTime", "averageRemoveTime", "averageWriteTime",
                "hits", "misses", "removeHits", "stores" ]
    },
    { mbean : 'jboss.infinispan:type=Cache,name="namedCache(dist_sync)",manager="clustered",component=Statistics',
      attrs : [ "numberOfEntries",
                "averageReadTime", "averageRemoveTime", "averageWriteTime",
                "hits", "misses", "removeHits", "stores" ]
    }
]
